<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="image360" xsi:type="array">
                    <item name="class" xsi:type="string">Codilar\Image360\Ui\DataProvider\Product\Form\Modifier\Image360</item>
                    <item name="sortOrder" xsi:type="number">101</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
