
/* NOTE: contaner with main image and selector's container */
div.CodilarContainer {
    text-align: center;
}
div.CodilarContainer.minWidth {
    min-width: 250px;
}

/* NOTE: main image styles */
div.CodilarContainer > a {
    margin: 0 auto;
}

/* NOTE: contaner with message under Image 360 */
div.CodilarMessage {
    text-align: center;
}

/* NOTE: imagescroll makes the image smaller if there is a margin */
/*
.ImageScrollItem a {
    margin: 0 !important;
}
*/

div.CodilarContainer.selectorsLeft,
div.CodilarContainer.selectorsRight {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer,
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer {
    min-height: 300px;
}

div.CodilarContainer.selectorsLeft .CodilarMainContainer,
div.CodilarContainer.selectorsRight .CodilarMainContainer {
    flex-grow: 1;
}

div.CodilarContainer.selectorsLeft .CodilarMainContainer,
div.CodilarContainer.selectorsRight .CodilarMainContainer {
    font-size:0px;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer a,
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer a {
    margin:0 0 10px 0;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer {

}
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer {
}

div.CodilarContainer.selectorsLeft .CodilarMainContainer {
    width: auto;
    padding-left: 10px;
}
div.CodilarContainer.selectorsRight .CodilarMainContainer {
    width: auto;
    padding-right: 10px;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer,
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer .ImageScroll,
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer .ImageScroll {
    height: 100%;
    flex:1;
}

div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer .ImageScroll a,
div.CodilarContainer.selectorsRight .CodilarSelectorsContainer .ImageScroll a {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    div.CodilarContainer.selectorsLeft,
    div.CodilarContainer.selectorsRight {
        flex-direction: column;
    }
    div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer,
    div.CodilarContainer.selectorsRight .CodilarSelectorsContainer {
        order:2;
        width: 100% !important;
        margin-bottom:10px;
        min-height: 0px;
        flex:auto;
        flex-basis: auto !important;
    }
    div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer a,
    div.CodilarContainer.selectorsRight .CodilarSelectorsContainer a {
        margin:10px 5px;
    }

    div.CodilarContainer.selectorsLeft .CodilarMainContainer,
    div.CodilarContainer.selectorsRight .CodilarMainContainer {
        order:1;
        padding:0px;
    }
    div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer:after,
    div.CodilarContainer.selectorsRight .CodilarSelectorsContainer:after {
        content: none;
    }
    div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer .ImageScroll,
    div.CodilarContainer.selectorsRight .CodilarSelectorsContainer .ImageScroll {
        height: auto;
    }
    div.CodilarContainer.selectorsLeft .CodilarSelectorsContainer .ImageScroll,
    div.CodilarContainer.selectorsRight .CodilarSelectorsContainer .ImageScroll {
        margin: 10px 0 0 0;
    }
}

div.CodilarContainer.placeholder {
    /*height: 100%;*/
    /*width: 100%;*/
    width: auto !important;
    height: auto !important;
}
div.CodilarContainer.placeholder span.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
div.CodilarContainer.placeholder img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.fotorama__stage__shaft:focus .fotorama__stage__frame.fotorama__active.image360-stage-frame:after {
    display: none;
}
.m360-icon.m360-icon-fullscreen-open {
    z-index: 100000;
}

.products-list .product-items .CodilarContainer {
    padding: 0 30px 30px 0;
    display: table-cell;
}
